@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: rgba(3, 10, 18, 0.81);

  @keyframes overlayshow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes overlayhide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes contentshow {
    from {
      transform: translate(-50%, 100%);
    }
    to {
      transform: translate(-50%, 0);
    }
  }
  @keyframes contenthide {
    from {
      transform: translate(-50%, 0);
    }
    to {
      transform: translate(-50%, 110%);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility bg-primary {
  @apply text-dark bg-white transition duration-500 dark:bg-gray-900 dark:text-white;
}

@utility bg-secondary {
  @apply text-dark bg-gray-100 transition duration-500 dark:bg-gray-800 dark:text-white;
}

@utility bg-button {
  @apply text-dark transition duration-500 focus-visible:bg-gray-200 dark:text-white dark:focus-visible:bg-gray-700;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: rgba(3, 10, 18, 0.81);
  fill: rgba(3, 10, 18, 0.81);
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(3, 10, 18, 0.81);
  fill: rgba(3, 10, 18, 0.81);
}

#__next {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overscroll-behavior: none;
}

input,
button,
textarea,
select,
*[role="button"] {
  -webkit-appearance: none;
  background-color: transparent;
}

*[tabindex] {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

*:focus {
  outline: none;
}

form:focus {
  outline: none;
  background: transparent;
}
