<html>
  <body>
    <section>
      <h2>パスワードリセット</h2>
      <p>
        <a
          href="{{ .SiteURL }}/verify?token_hash={{ .TokenHash }}&type=magiclink&lang=ja"
          >ログイン</a
        >
      </p>
      <ul>
        <li>ConfirmationURL: {{ .ConfirmationURL }}</li>
        <li>Token: {{ .Token }}</li>
        <li>TokenHash: {{ .TokenHash }}</li>
        <li>SiteURL: {{ .SiteURL }}</li>
        <li>RedirectTo: {{ .RedirectTo }}</li>
        <li>Data: {{ .Data }}</li>
      </ul>
    </section>
    <hr />
    <section>
      <h2>Magic Link</h2>
      <p>Follow this link to login:</p>
      <p>
        <a
          href="{{ .SiteURL }}/verify?token_hash={{ .TokenHash }}&type=magiclink&lang=en"
          >Log In</a
        >
      </p>
      <p>Or please enter this code: {{ .Token }}</p>
    </section>
  </body>
</html>
