build/
build-*/
build-archive/
Derived/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.gcno
*.dSYM.zip
*.dSYM
Lightlist.xcodeproj/
Tuist/.build/
.build/
.swiftpm/
Lightlist/Resources/Firebase/*/GoogleService-Info.plist
