.DS_Store
build/
build-*/
Derived/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.gcno
Lightlist.xcodeproj/xcuserdata/
Tuist/.build/
Lightlist/Resources/GoogleService-Info.plist
