<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ja</string>
		<string>en</string>
		<string>es</string>
		<string>de</string>
		<string>fr</string>
		<string>ko</string>
		<string>zh-Hans</string>
		<string>hi</string>
		<string>ar</string>
		<string>pt-BR</string>
		<string>id</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lightlist</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>PASSWORD_RESET_URL</key>
	<string>$(PASSWORD_RESET_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>GenInterfaceJP-Regular.ttf</string>
		<string>GenInterfaceJP-Medium.ttf</string>
		<string>GenInterfaceJP-SemiBold.ttf</string>
		<string>GenInterfaceJP-Bold.ttf</string>
		<string>GenInterfaceJPDisplay-Bold.ttf</string>
		<string>GenInterfaceJPDisplay-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
